In [68]:
from selenium import webdriver
import pandas as pd
import string

In [2]:
browser = webdriver.Chrome('/usr/local/bin/chromedriver')

In [3]:
url = 'http://www.hsa-haiku.org/hendersonawards/henderson.htm'

In [4]:
browser.get(url)

In [83]:
def del_break(str):
    new_str = str[1:]
    return new_str

In [96]:
with open('hks.txt', 'w') as file:
    remove_punct_map = dict.fromkeys(map(ord, string.punctuation))
    for td in browser.find_elements_by_xpath(('//td[@width="78%"]')):
        q = td.find_elements_by_xpath(('./blockquote/p'))
        for t in q:
            if (len(t.text) > 1):
                haik = t.text
                haik = haik.lstrip(' ')
                haik = haik.translate(remove_punct_map)
                haik  = haik.capitalize()
                haik += '.'
#                 print(len(haik.split()))
                file.write(haik + '\n')

In [101]:
lengths = 0
num = 0
for td in browser.find_elements_by_xpath(('//td[@width="78%"]')):
    q = td.find_elements_by_xpath(('./blockquote/p'))
    for t in q:
        lengths += len(t.text.split())
        num += 1
#         print(t.text)
#         print('-'*30)

In [102]:
lengths/num

9.184818481848184

In [35]:
tds3 = browser.find_elements_by_xpath(('//td[@width="78%"]/blockquote/p'))
len(tds3)

303

In [12]:
quotes = [td.find_elements_by_tag_name('blockquote') for td in tds]

In [13]:
len(quotes)

43

In [23]:
for td in tds:
    q = td.find_elements_by_tag_name('blockquote')
    print(len(q))

0
14
16
11
14
12
10
13
6
5
5
5
8
8
5
5
7
6
7
8
7
8
7
7
7
7
3
11
8
9
6
13
10
8
3
10
13
3
11
12
1
2
3

In [119]:
count = 0
lin = 0
with open('haikus_fin.txt', 'r') as f:
    for line in f:
#         print(line.split())
        count += 1
        words = line.split()
#         print(words)
        lin += len(line.split())

In [121]:
lin/count

3.20097244732577

3950